@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  color: white;
}

:root {
  --color-background: black;
  --color-text: white;
  --color-card: rgb(49, 49, 49);
  --rounding: 0.25rem;
  --muted: hsl(12 6.5% 15.1%);
  --accent: #0090FF;
  --accent-foreground: hsl(0 0% 98%);
  --lg-breakpoint: 1074px;
  --background2: #191919;
  --border: #393A40;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.gap-1 {
  gap: 0.25rem;
}


.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

a {
  text-decoration: none;

}

.text-lg {
  font-size: 1.2rem;
}

.w-full {
  width: 100%
}

.text-xl {
  font-size: 1.5rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

a.link {
  padding: 0.5rem;
}

.text-left {
  text-align: left;
}

.rounded-md {
  border-radius: 0.5rem;
}

.pl-4 {
  padding-left: 1rem;

}

a.link:hover {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-text {
  color: rgba(255, 255, 255, 0.8);
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.spacer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.text-muted-foreground {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {

  .pc-hide {
    display: none;
  }
}